
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.mypy_cache/
.pytest_cache/
.vscode/

.DS_Store
*.swp
*~


*.db
*.sqlite
*.sqlite3
log/
.sqlitedata


.env


/dist
/build

run_db_setup.py
spotipy_teste.py
to_dataframe.ipynb