
services:
  api:
    build: .
    container_name: "api_spotify_analytics"
    ports:
      - "8000:8000"
    
   
    env_file:
      - .env

    volumes:
      - .:/app

    depends_on:
      - db

    environment:
      DATABASE_URL: ${DATABASE_URL}
      SECRET_KEY: ${SECRET_KEY}

  db:
    image: postgres:16.2
    container_name: db_spotify_analytics
    
    volumes:
      - postgres_data:/var/lib/postgresql/data/

    environment:
     
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    ports:
      - "5432:5432"

volumes:
  postgres_data:
